/*---------------------
     VARIABLES
----------------------*/

/* Color Variables */

$color-theme: #df6539;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #2e3480;
$color-dark: #282828;
$color-gray: #f9f9f9;

/* Font Variables */

$font-heading: 'Poppins',
sans-serif;
$font-body: 'Roboto',
sans-serif;

$body-font-size: 15px;